<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="true"
  colors="true"
  bootstrap="tests/bootstrap.php"
>
  <testsuites>

    <testsuite name="Unit Tests">
      <directory>./tests</directory>
    </testsuite>

  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
       <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="junit" target="build/junit.xml"/>
    <log type="coverage-html" target="build/coverage"/>
  </logging>
</phpunit>
